<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../../../assets/img/netflex.png" height="30px" alt="NetFLEX">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 col-6 justify-content-center">
      <input class="form-control mr-sm-2 col-6 searchh" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>
    <div class="col row justify-content-end">
      <!--if authorized-->
      <div class="col row justify-content-end">
        <div class="dropdown col-6">
          <div class="row" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="mr-3 mt-auto rounded-circle" src="http://localhost:8081/api/users/image/default-logo.jpg" alt="" style="height: 35px">
            <p class="text-white mb-auto mt-auto" style="margin-bottom: 0; cursor: default">Anton</p>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" routerLink="/profile">Profile</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" routerLink="/users">Users</button>
            <button class="dropdown-item" type="button" routerLink="/companies">Companies</button>
            <button class="dropdown-item" type="button" routerLink="/registration">New Admin</button>
            <button class="dropdown-item" type="button" routerLink="/newcompany">New Company</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button">Log out</button>
          </div>
        </div>
      </div>
      <!--end-->
      <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#myModal">Sign In</button>
    </div>
  </div>
</nav>
