<charging-navbar></charging-navbar>

<charging-spinner *ngIf="!loaded"></charging-spinner>

<div class="container-fluid d-flex justify-content-center mrt-75">
  <div class="col-7 rounded media bg-light " id="productCard" *ngIf="loaded">
    <img src="{{imgLink.src}}/api/products/image/{{product.logoUrl}}" class="mt-3 mb-3 img-thumbnail" alt="logo" id="logo">
    <div class="media-body ml-4 mt-3 h-75 align-content-around">
      <h2 class="mt-0 font-weight-bold">{{product.name}}</h2>
      <small id="companyHelpBlock" class="form-text text-muted">
        <p>Category: <a class="font-weight-bold">{{product.category.name.toUpperCase()}}</a></p>
      </small>
      <p>{{product.description}}</p>
      <div class="row">
        <p class="text-dark ml-3" id="price">Price: </p>
        <h5>{{product.price}}$</h5>
        <p class="text-dark">/month</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3 already" *ngIf="subAlreadyExists && loaded" id="alert">
  <div class="alert alert-primary justify-content-center d-flex" role="alert">
    <h3>You already have this subscription</h3>
  </div>
</div>

<div class="container-fluid mt-3 already" *ngIf="loaded && !hasWallets">
  <div class="alert alert-danger justify-content-center d-flex" role="alert">
    <h3>You dont have any wallet. You can add it in your profile...</h3>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center mt-2" id="lower" *ngIf="!subAlreadyExists && loaded && hasWallets">
  <div class="col-7 rounded bg-light ">
    <form class="row mt-3" (ngSubmit)="onSubmit()">
      <div class="form-group col-6">
        <label for="exampleFormControlSelect1">Months</label>
        <select name="month" class="form-control" id="exampleFormControlSelect1" [(ngModel)]="month">
          <option>1</option>
          <option>3</option>
          <option>6</option>
          <option>12</option>
        </select>
      </div>
      <div class="form-group col-6">
        <label for="exampleFormControlSelect2">Choose wallet</label>
        <select name="name" class="form-control" id="exampleFormControlSelect2" [(ngModel)]="walletName" (change)="notEnoughMoney = false">
          <option *ngFor="let wallet of wallets">{{wallet.name}}</option>
        </select>
        <small class="text-danger" *ngIf="notEnoughMoney">Not enough money</small>
      </div>
      <div class="container-fluid p-0 d-flex justify-content-center mt-3">
        <button class="btn btn-primary w-25" type="submit">Buy</button>
      </div>
    </form>

  </div>
</div>

<charging-footer *ngIf="loaded"></charging-footer>
