<charging-navbar></charging-navbar>
<div class="container-fluid justify-content-center d-flex" id="about">
  <h1 class="text-primary font-weight-bold">About us</h1>
</div>
<!--blue divider-->
<div class="dropdown-divider" style="border-top: 1px solid #0378f5"></div>

<div class="container-fluid justify-content-center d-flex mt-3" id="description">
  <div class="container w-50">
    <h2 style="text-align: center">NetFLEX is a new player on the subscriptions-provider market, but we will give you the ability to listen to your favorite music,
      to watch your favorites serials and movies or to use your software from most popular companies with a maximum of quality.
    </h2>
  </div>
</div>

<charging-footer></charging-footer>
