<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center mrt-75">
  <div class="col-7 rounded media bg-light" id="productCard">
    <img src="../../assets/img/Netflix-Logo.jpg" class="mt-3 mb-3 img-thumbnail" alt="Netflix-logo">
    <div class="media-body ml-4 mt-3 h-75 align-content-around">
      <h2 class="mt-0 font-weight-bold">Netflix</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, facere in iure non quae temporibus.</p>
      <h5 class="font-weight-bold">Price: 9.99$/month</h5>
      <div class="w-100">
        <button class="btn btn-primary col-3">Buy</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
