<div class="modal fade" id="AddWalletModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="px-4 py-3">
        <div class="form-group">
          <label for="walletName">Wallet Name</label>
          <input type="text" class="form-control" id="walletName" placeholder="Enter wallet name" autocomplete="off">
        </div>
        <div class="d-flex justify-content-between mr-0">
          <button type="submit" class="btn btn-primary col-2">Add</button>
          <button type="button" class="btn btn-danger col-2" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
