<charging-navbar></charging-navbar>
<charging-modalsignin></charging-modalsignin>
<charging-modaladdwallet></charging-modaladdwallet>
<charging-spinner *ngIf="!loaded"></charging-spinner>
<!--profile-->
<div class="container-fluid mrt-75 d-flex justify-content-center" *ngIf="loaded">
  <div class="media col-6">
    <div class="mt-3">
      <img src="{{imgLink.src}}/api/users/image/{{profileUser.logoUrl}}" class="rounded" alt="Me" height="150px" width="150px">
<!--      <h2 *ngIf="profileUser.id == auth.user.id && !editMode"><button type="button" class="btn btn-primary mr-3 w-100" (click)="enableEditMode()">Edit</button></h2>-->
<!--      <h2><button type="button" class="btn btn-primary mr-3 w-100" *ngIf="profileUser.id == auth.user.id && editMode" (click)="disableEditMode()">Turn off</button></h2>-->
      <h2><button type="button" class="btn btn-danger mr-3 w-100" *ngIf="auth.user.role.name == 'admin' && profileUser.blocked == 0 && profileUser.id != auth.user.id" (click)="blockUser()">Block</button></h2>
      <h2><button type="button" class="btn btn-success mr-3 w-100" *ngIf="auth.user.role.name == 'admin' && profileUser.blocked == 1 && profileUser.id != auth.user.id" (click)="unblockUser()">Unblock</button></h2>
    </div>
    <div class="media-body col-8">
      <form class="mt-5">
        <div class="form-group row justify-content-center">
          <label for="fname" class="col-sm-4 col-form-label mr-3 font-weight-bold">
            {{(profileUser.role.name == 'seller')?'Company Name':'First Name'}}</label>
          <div class="">
            <input type="text" disabled  class=" form-control-plaintext" id="fname" value="{{profileUser.firstname}}">
          </div>
        </div>
        <div class="form-group row justify-content-center" *ngIf="profileUser.role.name != 'seller'">
          <label for="sname" class="col-sm-4 col-form-label mr-3 font-weight-bold">Second Name</label>
          <div class="">
            <input type="text" disabled class=" form-control-plaintext" id="sname" value="{{profileUser.secondname}}">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="staticEmail" class="col-sm-4 col-form-label mr-3 font-weight-bold">Email</label>
          <div class="">
            <input type="text" disabled class=" form-control-plaintext" id="staticEmail" value="{{profileUser.email}}">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center" *ngIf="loaded" >
  <h3 class="" *ngIf="profileUser.role.name == 'seller' ">Products</h3>
</div>
<div class="container-fluid"  id="alert2" *ngIf="loaded">
  <div class="alert alert-danger justify-content-center d-flex" role="alert" *ngIf="!productsExists && profileUser.role.name == 'seller'">
    <h3>There is no products yet</h3>
  </div>
</div>
<!--products-->
<div class="container-fluid mb-4 justify-content-center" *ngIf="loaded">
  <div class="container" *ngIf="profileUser.role.name == 'seller' && productsExists && profileUser.blocked == 0">
    <table class="table table-hover bg-light">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col" style="width: 10%">View</th>
        <th scope="col" style="width: 10%">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products, let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}$/month</td>
        <td>{{product.category.name.toUpperCase()}}</td>
        <td>
          <button type="button" class="btn btn-primary" routerLink="/product/{{product.id}}">View</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="setProductToDelete(product.id)" data-toggle="modal" data-target="#deleteProduct">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="container-fluid d-flex justify-content-center" *ngIf="loaded" >
  <h3 class="" *ngIf="profileUser.role.name != 'seller' && profileUser.blocked == 0">Subscriptions</h3>
</div>
<div class="container-fluid"  id="alert3" *ngIf="loaded">
  <div class="alert alert-danger justify-content-center d-flex" role="alert" *ngIf="profileUser.role.name != 'seller' && !subsExists && profileUser.blocked == 0">
    <h3>There is no subscriptions yet</h3>
  </div>
</div>
<!--subs-->
<div class="container-fluid mb-4 justify-content-center" *ngIf="loaded" >
  <div class="container" *ngIf="profileUser.role.name != 'seller' && subsExists && profileUser.blocked == 0">
    <table class="table table-hover bg-light">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Days left</th>
        <th scope="col">Wallet</th>
        <th scope="col">Status</th>
        <th scope="col" style="width: 10%">Buy More</th>
        <th scope="col" style="width: 10%">Unsubscribe</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sub of subscriptions; let i = index" id="{{sub.id}}" [className]="sub.blocked ? 'border border-danger':''">
        <th scope="row">{{i+1}}</th>
        <td>{{sub.product.name}}</td>
        <td>{{sub.product.price - sub.product.price * (sub.discount/100)}}$/month</td>
        <td [ngClass]="sub.time < 5? 'text-danger':''">{{sub.time}}</td>
        <td>{{sub.billingAccount.name}}</td>
        <td>{{sub.blocked ? "Blocked" : "Active"}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="buyMore(sub.id)" data-toggle="modal" data-target="#buyMoreModal">Buy</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="unsub(sub.id)">Unsub</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center"  *ngIf="loaded">
  <h3 class="" *ngIf="profileUser.role.name != 'seller' && profileUser.blocked == 0">Wallets</h3>
</div>
<div class="container-fluid" *ngIf="loaded" id="alert">
  <div class="alert alert-danger justify-content-center d-flex" role="alert" *ngIf="profileUser.role.name != 'seller' && !walletsExists && profileUser.blocked == 0">
    <h3>There is no wallets yet</h3>
  </div>
</div>
<div class="container-fluid" *ngIf="loaded">
  <div class="justify-content-center d-flex" role="alert" *ngIf="profileUser.role.name != 'seller' && !walletsExists && profileUser.blocked == 0">
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#AddWalletModal" *ngIf="!maxWallets">Add wallet</button>
  </div>
</div>
<!--wallets-->
<div class="container-fluid" *ngIf="loaded">
  <div class="container" *ngIf="walletsExists && profileUser.role.name != 'seller' && profileUser.blocked == 0">
    <table class="table table-hover bg-light">
      <caption><button class="btn btn-outline-primary" data-toggle="modal" data-target="#AddWalletModal" *ngIf="!maxWallets">Add wallet</button></caption>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Sum</th>
        <th scope="col" style="width: 10%">Add funds</th>
        <th scope="col" style="width: 10%">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let wallet of wallets; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{wallet.name}}</td>
        <td>{{wallet.sum}}$</td>
        <td>
          <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#toUpModal" (click)="selectedWallet=i">Add</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="setWalletToDelete(wallet.id)" data-toggle="modal" data-target="#deleteWallet">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--modals-->
<div class="modal fade" id="toUpModal" *ngIf="loaded">
  <div class="modal-dialog" *ngIf="profileUser.role.name != 'seller'">
    <div class="modal-content">
      <form class="px-4 py-3" (ngSubmit)="f.form.valid && onSubmitToUp()" #f="ngForm">
        <div class="row">
          <label for="cardNum">Number on card</label>
          <input type="text" class="form-control" id="cardNum" autocomplete="off" #numberCard required>
          <small *ngIf="!f.form.valid && f.submitted" class="text-danger">Number is invalid</small>
        </div>
        <div class="row">
          <label for="cardName">Name on card</label>
          <input type="text" class="form-control" id="cardName" autocomplete="off" required #nameCard>
          <small *ngIf="f.submitted && !f.form.valid" class="text-danger">Name is invalid</small>
        </div>
        <div class="row">
          <div class="col p-0 mr-2">
            <label for="cardExp">Expiration</label>
            <input type="text" class="form-control" id="cardExp" autocomplete="off" required #expCard>
            <small *ngIf="f.submitted && !f.form.valid" class="text-danger">Expiration is invalid</small>
          </div>
          <div class="col p-0 ml-2">
            <label for="cardCVV">CVV</label>
            <input type="text" class="form-control" id="cardCVV" autocomplete="off" required #cvv>
            <small *ngIf="f.submitted && !f.form.valid" class="text-danger">CVV is invalid</small>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-5">
            <label for="cardSum">Sum</label>
            <input type="text" id="cardSum" class="form-control" name="sum" [(ngModel)]="sum" #summ="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && summ.invalid }" required autocomplete="off"
                   currencyMask [options]="{ align: 'left'}" min="0.5" />
            <div *ngIf="f.submitted && summ.invalid" class="invalid-feedback">
              <div *ngIf="summ.errors.required || summ.invalid">Sum is invalid</div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mr-0 mt-3">
          <button type="submit" class="btn btn-primary col-2">Add</button>
          <button type="button" class="btn btn-danger col-2" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="buyMoreModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="px-4 py-3" (ngSubmit)="buyMoreSub()">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Months</label>
          <select name="month" class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectedSub.time">
            <option>1</option>
            <option>3</option>
            <option>6</option>
          </select>
        </div>
        <div class="d-flex justify-content-between mr-0">
          <button type="submit" class="btn btn-primary col-2">Buy</button>
          <button type="button" class="btn btn-danger col-2" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container-fluid mt-3">
        <h4 class="text-danger">There are {{subsCountOnProduct}} subscriptions on this product. If you delete this product all of these subscriptions will be deleted...</h4>
        <h5>Do you want to delete this product?</h5>
      </div>
      <div class="container-fluid justify-content-between d-flex mt-3 mb-3">
        <button type="submit" class="btn btn-primary col-2" (click)="deleteProduct()">Yes</button>
        <button type="button" class="btn btn-danger col-2" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteWallet">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container-fluid mt-3">
        <h4>Do you want to delete this wallet (this action will delete linked subscriptions too)?</h4>
      </div>
      <div class="container-fluid justify-content-between d-flex mt-3 mb-3">
        <button type="submit" class="btn btn-primary col-2" (click)="deleteWallet()">Yes</button>
        <button type="button" class="btn btn-danger col-2" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<charging-footer *ngIf="loaded"></charging-footer>
