<charging-navbar></charging-navbar>

<div class="container-fluid mrt-75">
  <div class="d-flex justify-content-center">
    <h3 class="mb-0">New Company</h3>
  </div>
</div>
<!--divider-->
<div class="container-fluid">
  <div class="dropdown-divider w-100" style="border-top: 1px solid #0378f5"></div>
</div>
<!--form-->
<div class="container-fluid justify-content-center d-flex mb-5">
  <form class="col-6 justify-content-center" (ngSubmit)="regNewSeller()">
    <div class="form-group">
      <label for="exampleFormControlFile1">Company logo</label>
      <input type="file" #file class="form-control-file" id="exampleFormControlFile1"
             accept="image/jpeg" (change)="onChange(file.files)" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFName">Company Name</label>
        <input type="text" name="firstname" class="form-control" id="inputFName" placeholder="Enter company name"
               [(ngModel)]="newSeller.firstname"
               required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLogin">Login</label>
        <input type="text" name="login" class="form-control" id="inputLogin" placeholder="Nickname" [(ngModel)]="newSeller.login"
               required minlength="4" #login="ngModel" (focusout)="ifExistsByLogin(login.value)" (change)="userExistsByLogin = false"
        autocomplete="off">
        <small [hidden]="login.valid || login.untouched" class="text-danger">Login is incorrect</small>
        <small *ngIf="userExistsByLogin" class="text-danger">This login is already exists</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter email" [(ngModel)]="newSeller.email"
               required pattern="[a-zA-Z0-9_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}" #email="ngModel" (focusout)="ifExistsByEmail(email.value)"
               autocomplete="off" (change)="userExistsByEmail = false">
        <p [hidden]="email.valid || email.untouched" class="text-danger">Email is incorrect</p>
        <p *ngIf="userExistsByEmail" class="text-danger">This email is already exists</p>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Enter password"
               [(ngModel)]="newSeller.password" required minlength="4" #password="ngModel">
        <small [hidden]="password.valid || password.untouched" class="text-danger">Password is incorrect</small>
      </div>
    </div>
    <div class="container-fluid p-0 d-flex justify-content-between mt-4">
      <button type="submit" class="btn btn-primary">Add company</button>
      <button type="button" class="btn btn-outline-danger" routerLink="">Cancel</button>
    </div>
  </form>
</div>

<charging-footer></charging-footer>
