<div class="col-3">
  <div class="card mb-4" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/img/Netflix-Logo.jpg" alt="Netflix">
    <div class="dropdown-divider"></div>
    <div class="card-body">
      <h5 class="card-title">Netflix</h5>
      <p class="card-text h-25">Netflix subscription allows you to watch serials and movies on your laptop</p>
      <p class="card-text font-weight-bold mt-4"> 9.99$/month</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary col-4">Buy</button>
        <button class="btn btn-outline-primary col-4">More</button>
      </div>
    </div>
  </div>
</div>
