<div class="col-3" id="card">
  <div class="card mb-4">
    <img *ngIf="loaded" class="card-img-top" src="{{srcLink.src}}/api/products/image/{{product.logoUrl}}" alt="Netflix" id="logo">
    <div class="dropdown-divider"></div>
    <div class="card-body">
      <h4 class="card-title" aria-describedby="companyHelpBlock"><a routerLink="/product/{{product.id}}" id="cardLink">{{product.name}}</a></h4>
      <small id="companyHelpBlock" class="form-text text-muted">
        <p>Category: <a class="font-weight-bold">{{product.category.name.toUpperCase()}}</a></p>
      </small>
      <p class="card-text h-25">{{product.description}}</p>
      <div class="form-group row ml-1">
        <p class="text-dark mr-2">Price: </p>
        <h5>{{product.price}}$</h5>
        <p class="text-dark">/month</p>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-primary col-4" (click)="onBuy()">Buy</button>
        <button class="btn btn-outline-primary col-4" routerLink="/product/{{product.id}}">More</button>
      </div>
      <small *ngIf="notAuth" class="text-danger font-weight-bold">Not authorized</small>
      <small *ngIf="isSeller" class="text-danger font-weight-bold">Seller cannot buy</small>
    </div>
  </div>
</div>
